html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit !important;
}

body{
    border: 1px solid red;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.page-body{
    border: 1px solid blue;
    height: 100%;
    width: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 1%;
}

.profile-img{
    width: 350px;
    height: auto;
}

.profile-img img{
    width: 100%;
    height: 100%;
}

.my-details{
    height: 10%;
}
.my-details h2, h4, p{
    margin: 10px 0 0 0;
    text-align: center;
}

.social-links{
    border: 1px solid brown;
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 55%;
}

.linkedIn-link, .email-link{
    border: 1px solid yellow;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.linkedIn-link img, .email-link img{
    width: 30%;
}
.linkedIn-link a, .email-link a{
    text-decoration: none;
    color: #000;
}
.linkedIn-link:hover, .email-link:hover{
    cursor: pointer;
}

.content-body{
    height: 35%;
    position: absolute;
    bottom: 15%;
}
.my-about h3, .my-interests h3{
    margin: 0;
    text-decoration: underline;
    text-indent: 5px;
}
.my-about p, .my-interests p{
    margin: 5px 0px 5px 20px;
}

.page-footer{
    position: absolute;
    bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 5%;
    width: 100%;
}
.page-footer a{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-footer img{
    width: 60%;
    height: 80%;
}
