html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit !important;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.page-body{
    height: 95%;
    width: 350px;
    top: 2.5%;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 1%;
    border-radius: 20px;
    background-color: #822222;
}

.profile-img{
    width: 350px;
    height: auto;
}

.profile-img img{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}

.my-details{
    height: 10%;
}
.my-details h2, h4, p{
    margin: 10px 0 0 0;
    text-align: center;
}

.social-links{
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 53%;
}

.linkedin-acc, .email-acc{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.linkedin-acc img, .email-acc img{
    width: 30%;
}
.linkedin-acc a, .email-acc a{
    text-decoration: none;
    color: #000;
}
.linkedin-acc:hover, .email-acc:hover{
    cursor: pointer;
}

.content-body{
    height: 35%;
    position: absolute;
    bottom: 15%;
}
.my-about h3, .my-interests h3{
    margin: 0;
    text-decoration: underline;
    text-indent: 5px;
}
.my-about p, .my-interests p{
    margin: 5px 0px 5px 20px;
    text-align: start;
}

.page-footer{
    position: absolute;
    bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 5%;
    width: 100%;
}
.page-footer a{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-footer img{
    width: 60%;
    height: 80%;
}

.twitter-icon{
    opacity: 0.5;
    color: #338ccc;
    border-radius: 5px;
}
